<div style="font-family: sans-serif; font-size: 16px; color: #111">
  <p>Hello {{name}}</p>

  <p>
    Your account {{email}} was created .To be able to use your account use the
    code below
  </p>

  <h1>{{verificationToken}}</h1>
</div>
