<html lang='en'>
  {{> head}}
  <body>
    <div class='content'>
      <p>Hello {{name}}</p>

      <p>
        Your account
        {{email}}
        was created, to verify your account use the code below
      </p>

      <h1>{{verificationToken}}</h1>
    </div>
  </body>
</html>