<html lang='en'>
  {{> head}}
  <body>
    <div class='content'>
      <p>Hello {{name}}</p>

      <p>
        2FA with
        {{method}}
        is now enabled in your account
        {{email}}
      </p>
    </div>
  </body>
</html>