<html lang='en'>
  {{> head}}
  <body>
    <div class='content'>
      <p>Hello {{name}}</p>

      <p>
        {{method}} 2FA CODE
        <br />
        {{token}}
      </p>
    </div>
  </body>
</html>