<html lang='en'>
  {{> head}}
  <body>
    <div class='content'>
      <p>Hello {{name}}</p>

      <p>
        Your account
        {{email}}
        was verified
      </p>
    </div>
  </body>
</html>